*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4F5665;
  line-height: 1.3;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

.col-4 {
  width: 33.3333%;
  padding: 0 15px;
}

.text__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0B132A;
  margin: 0;
}
.text__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}

.btn-link {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #F53838;
  background-color: #fff;
  border: 2px solid #F53838;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 8px 45px;
}
.btn-link_red {
  color: #fff;
  background: #F53838;
}

.list {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  list-style: none;
  text-align: left;
  padding: 0 0;
}
.list__item {
  margin-bottom: 15px;
}
.list__item::before {
  content: "";
  display: inline-block;
  margin: 0 5px;
  align-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 40px 70px;
}
.card__img {
  display: block;
  width: 100%;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card__content::before {
  content: "";
  display: inline-block;
  width: 145px;
  height: 165px;
  background: url(../images/box.png);
  align-self: center;
}
.card__content-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}
.card__list-item {
  margin-bottom: 25px;
}
.card__list-item::before {
  width: 13px;
  height: 9px;
  background: url(../images/check-mark-noback.png) no-repeat;
  padding-left: 22px;
}
.card__price {
  margin-top: auto;
  align-self: center;
}
.card__price-title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #0B132A;
  margin: 0;
  padding: 15px 0;
}
.card__price-title_grey {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
}
.card_red {
  border: 2px solid #F53838;
}

.header {
  padding: 20px 0;
  margin-bottom: 60px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.96px;
}
.header__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__nav-item {
  display: inline-block;
}
.header__nav-link {
  text-decoration: none;
  color: #4F5665;
  margin-right: 18px;
}
.header__userbar-link {
  text-decoration: none;
  font-weight: 500;
  margin-left: 23px;
}
.header__userbar-link_blue {
  color: #0B132A;
}
.header__userbar-link_red {
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 50px;
  padding: 13px 45px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  border: none;
  background: #F53838;
  border-radius: 10px;
  padding: 15px 50px;
  box-shadow: #F5383859 0px 15px 20px -6px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.main-block {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.main-block__inner {
  width: 50%;
}
.main-block__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  color: #0B132A;
  align-self: center;
  margin-bottom: 20px;
}
.main-block__title_weight {
  font-weight: 700;
}
.main-block__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
  margin-top: 0;
  margin-bottom: 40px;
}
.main-block__subtitle_weight {
  font-weight: 500;
}

.info {
  display: flex;
  background-color: #fff;
  padding: 40px 0;
  max-width: 1140px;
  margin: 0 auto;
}
.info__item {
  display: flex;
  justify-content: center;
  width: 33.33%;
  border-right: 2px solid #EEEFF2;
  padding: 27px 20px;
}
.info__item_servers {
  border: none;
}
.info__item::before {
  content: "";
  width: 55px;
  height: 55px;
  display: inline-block;
}
.info__item_users::before {
  background: url(../images/info-item-sprite.png) -10px -85px no-repeat;
}
.info__item_locations::before {
  background: url(../images/info-item-sprite.png) -85px -10px no-repeat;
}
.info__item_servers::before {
  background: url(../images/info-item-sprite.png) -10px -10px no-repeat;
}
.info__item-text {
  padding-left: 30px;
}
.info__title {
  font-size: 25px;
  font-weight: 700;
  color: #0B132A;
  margin: 0;
}
.info__subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #4F5665;
  margin: 0;
}

.features {
  text-align: left;
  padding-top: 50px;
  margin-bottom: 100px;
}
.features__inners {
  display: flex;
  align-items: center;
}
.features__inner {
  width: 50%;
}
.features__text {
  align-self: flex-end;
  margin-bottom: 0;
}
.features__list-item::before {
  width: 20px;
  height: 20px;
  background: url(../images/check-mark.png) no-repeat;
  padding-left: 30px;
}

.plan {
  text-align: center;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  margin-bottom: 120px;
  padding-top: 80px;
}
.plan__text {
  margin-bottom: 60px;
}

.global-network {
  text-align: center;
  margin-bottom: 80px;
}
.global-network__text {
  margin-bottom: 120px;
}
.global-network__map {
  margin-bottom: 30px;
}
.global-network__soc-net {
  width: 20%;
  height: auto;
  padding: 0 20px;
  align-self: center;
}

.review {
  text-align: center;
  margin-bottom: -90px;
}
.review__title {
  margin-bottom: 50px;
}
.review__items {
  display: flex;
  margin-bottom: 60px;
}
.review__item {
  width: 38.33%;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 10px 20px;
}
.review__item_ind {
  margin-left: 0;
}
.review__item:hover {
  border: 2px solid #F53838;
}
.review__user {
  display: flex;
  justify-content: space-between;
}
.review__user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review__user-pic {
  height: auto;
  width: 50px;
}
.review__user-text {
  text-align: left;
  margin-left: 15px;
}
.review__user-name {
  font-size: 18px;
  font-weight: 500;
  color: #0B132A;
  margin: 0;
}
.review__user-country {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.review__user-rate {
  font-size: 16px;
  font-weight: 400;
  color: #0B132A;
}
.review__user-rate::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../images/star.png);
}
.review__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #0B132A;
}
.review__control {
  display: flex;
  justify-content: space-between;
}
.review__indicators {
  display: flex;
}
.review__indicator {
  width: 15px;
  height: 15px;
  background-color: #DDE0E4;
  border-radius: 50%;
  margin: 10px 5px;
}
.review__indicator_red {
  width: 45px;
  height: 15px;
  background-color: #F53838;
  border-radius: 20px;
}
.review__arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.review__arrow_prev {
  border: 2px solid #F53838;
  background: url(../images/arrow-prev.png) 50% no-repeat;
}
.review__arrow_next {
  border: none;
  background: url(../images/arrow-next.png) 50% no-repeat #F53838;
}

.offer__inner {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 40px 50px;
}
.offer__text {
  width: 50%;
}

.footer__soc-net::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 34px;
}

.footer {
  background-color: #F8F8F8;
  padding-top: 120px;
  padding-bottom: 70px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.footer__links {
  width: 35%;
}
.footer__links_weight {
  font-weight: 500;
}
.footer__subtitle {
  margin: 20px 0;
}
.footer__soc-net {
  text-decoration: none;
  display: inline-block;
  background-color: #F53838;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer__soc-net_fb::before {
  background: url(../images/socnet-sprite.png) -10px -64px no-repeat;
}
.footer__soc-net_tw::before {
  background: url(../images/socnet-sprite.png) -64px -10px no-repeat;
}
.footer__soc-net_inst::before {
  background: url(../images/socnet-sprite.png) -10px -10px no-repeat;
}
.footer__date {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #AFB5C0;
}
.footer__date_weight {
  font-weight: 500;
}
.footer__list {
  display: flex;
  align-self: flex-end;
}
.footer__list-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #0B132A;
  margin: 0;
  margin-bottom: 15px;
}
.footer__list-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4F5665;
  margin: 5px 0;
}
.footer__item {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

/*# sourceMappingURL=style.css.map */
