.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  border: none;
  background: #F53838;
  border-radius: 10px;
  padding: 15px 50px;
  box-shadow: #F5383859 0px 15px 20px -6px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}