.features {
  display: flex;
  align-items: center;
  text-align: left;
  &__inner {
    width: 50%;
  }
  &__title {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
  }
  &__list {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    list-style: none;
    text-align: left;
    padding: 0 0;
  }
  &__item::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(/images/check-mark.png) no-repeat;
  }
}