.features {
  text-align: left;
  padding-top: 50px;
  margin-bottom: 100px ;
  &__inners {
    display: flex;
    align-items: center;
  }
  &__inner {
    width: 50%;
  }
  &__text {
    align-self: flex-end;
    margin-bottom: 0;
  }
  &__list-item::before {
      width: 20px;
      height: 20px;
      background: url(../images/check-mark.png) no-repeat;
      padding-left: 30px;
    }
}
