.footer {
  background-color: #F8F8F8;
  padding-top: 120px;
  padding-bottom: 70px;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  &__links {
    width: 35%;
    &_weight {
      font-weight: 500;
    }
  }
  &__subtitle {
    margin: 20px 0;
  }
  &__soc-net {
    text-decoration: none;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #F53838;
    margin-right: 8px;
    margin-bottom: 20px;
  }
  &__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #AFB5C0;
    &_weight {
      font-weight: 500;
    }
  }
  &__list {
    display: flex;
    align-self: flex-end;
    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: #0B132A;
      margin: 0;
      margin-bottom: 15px;
    }
    &-link {
      display: inline-block;
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      color: #4F5665;
      margin: 5px 0;
      &:hover {
        color: #252931;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
  }
}