.global-network {
  text-align: center;
  margin-bottom: 80px;
  &__text {
    margin-bottom: 120px;
  }
  &__map {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  &__soc-net {
    width: 20%;
    height: auto;
    padding: 0 20px;
    align-self: center;
  }
}