.offer {
  &__inner {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    padding: 40px 50px;
  }
  &__text {
    width: 50%;
  }
}