.plan {
  text-align: center;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  margin-bottom: 120px;
  padding-top: 80px;
  &__text {
    margin-bottom: 60px;
  }
}
