.plan {
  text-align: center;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
  margin-bottom: 120px;
  padding-top: 80px;
  &__text {
    margin-bottom: 60px;
  }
  &__btn-link {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #F53838;
  background-color: #fff;
  border: 2px solid #F53838;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 8px 45px;
  &:hover {
    color: #fff;
    background: #F53838;
  }
}
}
